.btn {
  padding: 1rem;
  cursor: pointer;
  min-width: 10rem;
  text-align: center;

  background-color: #ebebeb;

  /* 460 */
  @media(max-width:28.75rem) {
    width: 100%;
  }

  &.primary {
    background-color: var(--blue-romance);
  }
  &.danger {
    background-color: var(--pippin);
  }
}
